<h2> {{ header }} </h2>


Month <select>
	<option ng-repeat="month in months" ng-click="monthChange($index)" value="{{ month.name | lowercase }}"> {{ month.name }} </option>
</select>

Year <select>
	<option>2016</option>
	<option>2017</option>
	<option>2018</option>
	<option>2019</option>
	<option>2020</option>
	<option>2021</option>
	<option>2022</option>
</select>


<h3> January of 2016 </h3>

<div ng-repeat="day in days" ng-click="dateFunc($index)" class="cal-row alert-success {{ 'day' + $index }}">
    <div class="indicator"><i class="glyphicon glyphicon-ok"></i></div>
	<p class="date"> {{ day.date }} </p>
	<p class="weekDay"> {{ day.weekDate }} </p>
</div>
 
 
 
 
 
 
 
 
 
