<h2> {{ header }} </h2>

<div class="dashboard clearfix">
	<div class="row">
		<div class="col-md-4">
			<div class="widget alert-info">
				<div class="row">
					<div class="col-md-4">
						<img src="img/breakfast.svg" width="100" height="100">
					</div>
					<div class="col-md-8">
						10 <br> Breakfast
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="widget alert-success">
				<div class="row">
					<div class="col-md-4">
						<img src="img/lunch.svg" width="100" height="100">
					</div>
					<div class="col-md-8">
						10 <br> Lunch
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="widget alert-warning">
				<div class="row">
					<div class="col-md-4">
						<img src="img/dinner.svg" width="100" height="100">
					</div>
					<div class="col-md-8">
						10 <br> Dinner
					</div>
				</div>
			</div>
		</div>
	</div>